/* style header */

.header {
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header p {
  color: #2e2d2d;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.iteration-btn {
  padding: 10px 20px;
  background-color: #5762d5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.iteration-btn:hover {
  background-color: #7b8bd9;
  transition-duration: 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* style footer */
.footer {
  background-color: rgb(65, 64, 64);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer span {
  font-size: 0.93rem;
  font-weight: bold;
}

/* main */

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  height: 100vh;
}

.mainpage h1 {
  font-size: 1.68rem;
}

.iterations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.iteration-card {
  margin-top: 30px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.iteration-status {
  font-weight: bold;
}

.delete-btn {
  background-color: #ff8600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.delete-btn:hover {
  background-color: #ff9c36;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}

.answers-btn {
  padding: 8px 16px;
  background-color: #5762d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 16px;
}

.answers-btn:hover {
  background-color: #7b8bd9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}

/* new iteration page */

.newIterationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.newIterationPage h1 {
  margin-top: 60px;
}

.input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  margin-top: 6px;
}
.btn {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #5762d5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-reset {
  padding: 8px 16px;
  background-color: #ff8600;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 10px 16px;
}

.btn-reset:hover {
  background-color: #ff9c36;
  transition-duration: 0.5s;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
}

.checkbox {
  margin: 10px 8px;
}

.link {
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  color: blue;
  text-decoration: underline;
}

.next-btn {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #5762d5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.link-btn {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
