/* style header */

.header {
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header p {
  color: #2e2d2d;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.iteration-btn {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: solid 1px #5762d5;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.iteration-btn:hover {
  background-color: #fcfcfc;
  transition-duration: 0.5s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* style footer */
.footer {
  background-color: rgb(65, 64, 64);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer span {
  font-size: 0.93rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 30px;
}

/* main */

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  height: 100vh;
}

.mainpage h1 {
  font-size: 1.68rem;
}

.iterations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.iteration-card {
  margin-top: 2rem;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.iteration-status {
  font-weight: bold;
}

.delete-btn {
  background-color: #ff8600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.delete-btn:hover {
  background-color: #ff9c36;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}

.answers-btn {
  padding: 8px 10px;
  background-color: #5762d5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.answers-btn:hover {
  background-color: #7b8bd9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}

/* new iteration page */

.newIterationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.newIterationPage h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  transition: box-shadow 0.3s ease;
  border-radius: 4px;
}

.input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.btn {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #5762d5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.6rem;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 1.5rem;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-reset {
  padding: 8px 16px;
  background-color: #66717e;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0.6rem 1rem;
}

.btn-reset:hover {
  background-color: #808b98;
  transition-duration: 0.5s;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin: 0.6rem 0;
  font-size: 1rem;
}

.checkbox {
  margin: 0.6rem 0.5rem;
}

.btn-back {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #5762d5;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0.6rem 1rem;
}

.btn-back:hover {
  background-color: #7b8bd9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
}

.next-btn {
  padding: 9px 16px;
  font-size: 1rem;
  background-color: #5762d5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.8rem;
  border-radius: 0.5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 1rem;
}

.link-btn {
  margin-top: 20rem;
  display: flex;
  flex-direction: row;
}

.question-text {
  margin-top: 1.5rem;
}

.answer-section {
  margin-top: 1.5rem;
}

/* Media Query */

@media (max-width: 768px) {
  .link-btn {
    margin-top: 10rem;
  }
}

@media (max-width: 768px) {
  .newIterationPage h1 {
    margin: 2rem 0 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .question-text {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  .answer-section {
    margin-left: 1rem;
  }
}
